.NavigationItems {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}


.NavigationItems a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}